
/** Global CSS **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
.caption ul:not(.tags), .text-based:not(.chat) li ul{
    list-style-type: disc;margin:15px 0px 15px 20px;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol,ol > li {list-style-type: none;list-style:none;display:block;
}
.no-href-border a{border-bottom:0px;color:inherit;}


i, em{font-style:oblique !important}
      b,strong{font-weight:bold !important}
ol:not(.notes) {margin-top:10px;margin-bottom:15px;margin-left:10px;}
ol:not(.notes):(#post_ul) li{position:relative;margin-bottom:4px;}
ol{margin-top:10px;margin-bottom:10px;}
p figure iframe, figure iframe, .tumblr_video_container, .tumblr_video_container iframe{width:100%}

body{font-size:9.5pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 -ms-word-break: break-word;
     word-break: break-word;
     -moz-word-break: break-word;
     -webkit-word-break: break-word;

-webkit-hyphens: none;
   -moz-hyphens: none;
        hyphens: none;
        font-weight:300;
        -webkit-text-size-adjust: none;
        
}
p figure iframe, figure iframe, .tumblr_video_container, .tumblr_video_container iframe{width:100%}

figure img{width:100%;}
figure img,blockquote figure{max-width:100% !Important;}
figure iframe{width:100%;}
.border-topef{border-top:1px solid #efefef;}
/** Global CSS **/

p figure iframe, figure iframe, .tumblr_video_container, .tumblr_video_container iframe{width:100%}

@charset "UTF-8";

@font-face {
    font-family: "wordy";
  src:url("https://themecloset.me/font/new-wordy/wordy.eot");
  src:url("https://themecloset.me/font/new-wordy/wordy.eot?#iefix") format("embedded-opentype"),
    url("https://themecloset.me/font/new-wordy/wordy.woff") format("woff"),
    url("https://themecloset.me/font/new-wordy/wordy.ttf") format("truetype"),
    url("https://themecloset.me/font/new-wordy/wordy.svg#wordy") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
    font-family: "wordy" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important; 
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "wordy" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
         
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;color:#666666;
 -ms-word-break: break-word;
     word-break: break-word;
     -moz-word-break: break-word;
     -webkit-word-break: break-word;

-webkit-hyphens: none;
   -moz-hyphens: none;
        hyphens: none;
        font-weight:300;
        
}

*{box-sizing:border-box;line-height:160% !Important;padding:0px;margin:0px;}

a{border-bottom:0px;display:inline-block;}
#posts img{width:100%;height:auto;}
html{
        font-weight:300;}
        
        img{display:block}
        
                    .table{display:table;margin-bottom:0px;}
                    .inline-block{display:inline-block}
                    .none{display:none}
                    .table-cell{display:table-cell}

               
               /** headeing style **/    
                   
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
                   
h1.no-style {
  margin-bottom: 0em;
}

h1:not(:first-child):not(.no-style) {
  margin-top: 1em;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

h2:not(:first-child) {
  margin-top: 1.1428em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

h3:not(:first-child) {
  margin-top: 1.3333em;
}

h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}
h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}
h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{border-bottom:0px;}

/** heading style **/

                a{text-decoration:none;cursor:pointer;}

                    body{font-family:arial;}
                    
                    
                   /** blockquotes **/
                blockquote {
    border-left: 1px solid #aeaeae;
    margin-left: 2px;
    padding-left: 10px;
}
                   
                   /** blockquotes **/
                   
                   /** fixes bug on spacing under images **/
                   .photo-content, .photo-content img{border-bottom:0px;display:block;}
                   
                   
                   /** Known tumblr issues **/
                   .html_photoset,.video-content{margin-bottom:-6px}
                   .html_photoset{overflow:hidden}
                   .html_photoset iframe{min-width:calc(100% + 3px)}
                   
                   #posts{margin:auto; top:50px;}
                   #ind .post-container{display:block;}
                   iframe.instagram-media{margin-bottom:-8px !important;max-width:100% !Important;}
                   blockquote.instagram-media{max-width:100% !Important}
                   .permalink-content{display:none}
.this-is-permalink .permalink-content{display:block}
                   /** Known tumblr issues **/
                   
                   /** fixes bug on spacing under images **/
                   
                   
                   
/** javascript effect **/
#ind.animation div.post-container > ol{opacity:0;}
                  
                 #ind.animation .not-animated{height:0px;box-sizing:content-box;overflow:hidden;padding:0px;margin:0px;}
                 #ind.animation .not-animated img{height:0px}
#infscr-loading{display:none !Important}
/** javascript effect **/

/** transitions **/
div.post-container ol{
    -webkit-transition: opacity 0.45s;
    transition: opacity 0.45s;
    transition-delay: 0.3s;
}
html.animation{opacity:0;}
html.animation footer{display:none}
.animation .gshtml{display:none}
/** transitions **/


                   /** scrolling **/
                
.scrolling{       width:31px;
        height:31px;
        opacity:0.8;
        z-index: 239212302;
        position:fixed;
        bottom:30px;
        right:30px;
        text-indent:-9999px;
        background: url('https://d30y9cdsu7xlg0.cloudfront.net/png/60598-200.png') no-repeat;display:none;
        background-size: 30px;
cursor:pointer;
border-radius:8px;overflow:hidden;
}
                   /** scrolling **/
                   
                   
                   
        /** Lightbox **/
  .lightbox-plugin a{;border-bottom:0px;}
    
    .lightbox-image-share{position:relative;}
        .lightbox-plugin{position:fixed;top:0px;left:0px;background-color:rgba(0,0,0,0.4);z-index:99999999;width:100%;height:100%;display:none;text-align:center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  
            
        }
   .lightbox-image-share a{display:  inline-block;}

.hover-tags{margin-top:10px;}
.this-mobile.mobile-version .lightbox-plugin{display:none !Important}
.close.lightbox-arrows{left:50%;margin-left:-20px;}

                   .lightbox-image-share{margin:auto;opacity:0;
    -webkit-transition: opacity 0.45s;
    transition: opacity 0.45s;
    transition-delay: 0.2s;}
                   .lightbox-image-share a.lightbox-link, .lightbox-image-share a img{display:block}
                   
                   .lightbox-image-share a img{width:100%;}
                   .lightbox-on{overflow:hidden}
                   
@keyframes lightbox{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.lightbox-image-share{opacity:0}
                   .lightbox-on .lightbox-image-share{
                       opacity:1;
  -webkit-animation: lightbox 1s; /* Safari 4+ */
  -moz-animation:    lightbox 1s; /* Fx 5+ */
  -o-animation:      lightbox 1s; /* Opera 12+ */
  animation:         lightbox 1s; /* IE 10+, Fx 29+ */}
                   .light-box-plugin{display:none}
                   .lightbox-on .lightbox-plugin{display:block}
                   .reblogged.index #controller{float:right;font-size:13pt;line-height:100% !Important;}
                   #controller #arrow{font-size:18pt}
                   .reblogged.index #controller a{display:inline-block;color:#aeaeae;}
                   .reblogged.index #controller a#close{position:relative;top:6px;}
                   .lightbox-plugin .reblogged.index{display:block !important}
                   .lightbox-plugin .reblogged.index.remove-reblog{display:none !important}
        .lightbox-image-share{max-width:calc(100% - 90px);}
       @media only screen and (max-width: 450px) {
        .lightbox-plugin,.light-tri{display:none !Important}
        
       }
       .this-over-600-px .lightbox-plugin,.this-over-600-px  .light-tri{display:none !Important}
       
       .lightbox-fullscreen{width:100%;height:100%;overflow-y:scroll;}
       #reblogurl{font-size:10pt;}
       .lightbox-link img, .lightbox-plugin .reblogged.index, .lightbox-plugin .post_nav{max-width:100%}
        /** Lightbox **/
        
        
        
        
        
                /** index rebloggged bar **/
                
                #ind #posts .reblogged.responsive-reblog,#ind #posts .reblogged:not(.responsive-reblog){display:none !Important}
                
                 #ind.this-mobile #posts .reblogged:not(.responsive-reblog){display:block !important}
                #ind:not(.this-over-600-px) #posts .reblogged:not(.responsive-reblog){display:block !important}
                 #ind.this-over-600-px:not(.hide-post-nav) #posts .reblogged.responsive-reblog{display:block !important}
                 #ind.this-over-600-px.hide-post-nav #posts .reblogged:not(.responsive-reblog){display:block !important}
                .reblogged.index{width:100%;padding:20px 25px;font-family:baskervile;}
                #reblog-icon{font-size:11pt;display:inline-block;}
                #index-reblogged-name{width:calc(100% - 70px);font-size:10pt;}
                #index-reblogged-name a{width:100%;white-space: nowrap;overflow:hidden;color:#222;
    text-overflow: ellipsis;}
	/** index rebloggged bar **/
                
                
                /** permalink reblog **/
                .perma-navi{color:#aeaeae;padding:30px 35px;border-top:1px solid #efefef;height:90px;}
                .perma-navi .inline-block{
  vertical-align: middle;line-height:100% !Important;
                }
                
                .perma-navi a{border-bottom:0px;color:inherit;font-size:14pt;}
                .perma-navi #perma-note{font-weight:600;font-size:11pt;}
                #reblogged span{display:inline-block;vertical-align:middle;color:#222;}
                #reblogged img{width:30px;border-radius:50%;margin-left:8px;margin-right:8px;}
                #reblogged a{border-bottom:0px;color:#222;}
                .perma-controller span{display:inline-block;margin:0px 5px;vertical-align:middle;}
                .perma-controller{float:right;position:relative;top:3px;}
            #perma-note{position:relative;top:-3px;}
            .perma-controller #stick{height:20px;width:1px;background-color:#e0e0e0;margin:0px 9px;position:relative;top:-2px;}
                /** permalink reblog **/
                
                
                /** permalink post notes **/
                .perma-post-notes ol{list-style:none;padding:0px 25px;border-top:0px;}
                .perma-post-notes a{border:0px;}
                #posts .perma-post-notes img{width:25px;height:25px;border-radius:50%;}
                .perma-post-notes li{padding:9px;border-top:1px solid #efefef;padding-top:11px;}
                .perma-post-notes li:first-child{border-top:0px;}
                .perma-post-notes{padding-top:15px;border-top:1px solid #efefef;padding-bottom:15px;} 
                .perma-post-notes .action{position:relative;top: -7px;margin-left:10px}
                .perma-post-notes .note.more_notes_link_container{padding:30px 0px;font-weight:600;}
                .disqus-container{padding:35px 40px;border-top:1px solid #efefef;}
                /** permalink post notes **/
                
                        /** box shadow for white backgroudn **/
  #ind[background-color="#ffffff"] .post-container > ol{border:1px solid #efefef;}

  #ind[background-color="#ffffff"].hide-caption .post-container.photo > ol{-webkit-box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0);
-moz-box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0);
box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0);border:0px solid #efefef;}
        /** box shadow for white backgroudn **/
        
        
                    /** Post nav **/
                    .post_nav a{color:inherit;}
                    .post_nav{padding:21px 30px;font-size:11pt;width:100%;}
                    .this-mobile.mobile-version .post_nav{border-bottom:1px solid #efefef;}
                    .post_nav .table-cell{color:#aeaeae;width:10px;}
                    .post_nav .post-icons{padding-left:13px;margin-top:5px;}
                .post_nav .post-icons.reblog{color:#aeaeae;}
                    .post_nav .table-cell *{display:inline-block}
                    .post_nav .reblog .reblog_button{display:inline-block !important}
                    
                   #post-notes,#number-change{font-family:arial;letter-spacing:-0.4pt;width:100%;position:relative;top:0px;font-size:10pt;color:#aeaeae;font-weight:600;}
                    /** Post nav **/
                    
                    
                   /** Post controller **/
                   .post-container.text-based .post, .post-container:not(.text-based) .post .caption{padding:25px;padding-left:30px;padding-bottom:30px;}
                    #ind .post-container.text-based .post{padding-bottom:5px;}
                   /** tags **/
                   ul.tags{list-style:none;border-top:1px solid #efefef;padding:25px;padding-left:35px;display:block;font-size:10pt;border-bottom:1px solid #efefef;}
                   ul.tags li#tag-title{color:#aeaeae;font-weight:600;}
                   ul.tags a{border-bottom:0px;color:#aeaeae;}
                   ul.tags li{display:inline-block;margin-right:5px;}
                   /** tags **/
                   
        /** box shadow for white backgroudn **/
html:not(.no-top-bg) .top-header{-webkit-box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);}
.top-header{min-height:60px;}

        /** box shadow for white backgroudn **/
        
                   /** responsive **/
                   .this-mobile.tablet-version .post-container{width:560px !important;margin-top:20px;margin-bottom:20px;}
                   #ind.this-mobile.tablet-version .lightbox-image-share{width:660px;}
                   #ind.this-mobile.tablet-version .share_tooltip{right:-10px;}
                   #ind.this-mobile.mobile-version .share_tooltip{right:10px;}
                   #ind.this-mobile.mobile-version .share_tooltip .arrow{margin-left:10px;}
                     .this-mobile.mobile-version .post-container{width:100%;margin-bottom:0px}
                     
                     #per.this-mobile.mobile-version .permalink-content{;border-bottom:1px solid #efefef;}
                   /** responsive **/

/** not found **/
.not-found #posts ol{list-style:none}
.not-found .perma-navi{display:none}
/** not found **/
        
                   
                   /** permalink conteroller **/
                   #per #posts{max-width:100%;}
                   #per.not-mobile #posts,#per.tablet-version #posts{margin-bottom:50px;margin-top:30px;}
                   
                   #per .post-container{width:800px;}
                   #per.this-is-page .post-container{width:900px;}
                   

#per.onecolumn1200px.not-mobile .post-container{width:1200px}
#per.onecolumn1200px.not-mobile .max-width-fix{max-width:1200px;margin:auto;}
#per.onecolumn900px.not-mobile .post-container{width:900px}
#per.onecolumn900px.not-mobile .max-width-fix{max-width:900px;margin:auto;}


                   .permalink-content li{margin:auto;}
                   
                  #per .permalink-content{width:100%;margin-top:-4px;}
                   /** permalink conteroller **/
                   /** Post controller **/
                   
                    /** Sharing click tooltip**/
                   .share_tooltip{width:90px;background-color:#fff;position:absolute;bottom:55px;border:1px solid #efefef;display:none;right:-8px;}
                   .share-mode .share_tooltip{display:block;}
                   #close{display:none}
                   .share-mode #close{display:inline-block}
                   #share{display:inline-block}
                   .share-mode #share{display:none}
                   .share_tooltip a{border-bottom:0px;display:inline-block;width:40px;height:45px;padding-top:15px;margin-right:-4px;position:relative;z-index:43;border-bottom:0;color:#aeaeae;}
                   .share_tooltip{text-align:center;}
                   .share_tooltip .arrow{position:absolute;bottom:-6px;left:50%;margin-left:-5px;width:12px;height:12px;background-color:#222;z-index:33;transform: rotate(45deg);background-color:#ffffff;border-bottom:1px solid #efefef;border-right:1px solid #efefef;}
                    /** Sharing click tooltip**/
                   
                   
                   
/** footer **/

                    



     /** load more & paginiate it **/
          .load-more-container{font-size:18pt;font-weight:normal;font-style:oblique;cursor:pointer;display:none;width:160px;margin:auto;}
          .load-more .load-more-container{display:block;}
          .load-more-container{text-align:center;}
.load-more-scroll-down{transform:rotate(90deg) scale(1,3);-webkit-transform:rotate(90deg) scale(1,3);-ms-transform:rotate(90deg) scale(1,3);-moz-transform:rotate(90deg) scale(1,3);-o-transform:rotate(90deg) scale(1,3);font-family:'Helvetica Neue','Helvetica','arial';font-weight:100;display:block;font-size:20pt;color:#000;display:inline-block;}
.load-more-paginiate-it-container{text-align:center;margin-top:50px;margin-bottom:50px;
}
#per .load-more-paginiate-it-container,
.this-is-tag .load-more-paginiate-it-container{display:none !Important}
#ind.in-page .load-more-paginiate-it-container{display:block !Important}
#ind.in-page .load-more-paginiate-it-container .load-more-container{display:none !Important}
#ind.in-page .load-more-paginiate-it-container .pagination{display:block !Important}
     /** load more & paginiate it **/


       /** search container **/
       
                
    .search-container{width:100%;height:100%;position:fixed;top:0px;left:0px;background-color:#ffffff;z-index:9999999999;display:none;}
    .search-container form{position:fixed;width:420px;left:50%;margin-left:-210px;top:50%;margin-top:-50px;}
    .search-container form input{border:0px;border-bottom:1px solid #222222;padding:10px;font-size:23pt;font-family:lato;font-weight:300;}
    .search-container form button{font-size:25pt;border:0px;background-color:#ffffff;}
    .search-close{position:fixed;top:80px;right:80px;font-size:45pt;font-family:lato;font-weight:100;transform:scale(1.4,1.0);-webkit-transform:scale(1.4,1.0);-o-transform:scale(1.4,1.0);-moz-transform:scale(1.4,1.0);-ms-transform:scale(1.4,1.0);cursor:pointer;}
    
    /** Search container **/
       
       /** video container **/
       

.video-container{z-index:9999999999;}
.video-container iframe{min-width:100%;min-height:100%;}
.video-container{width:100%;height:100%;position:fixed;top:0px;left:0px;background-color:#000;text-align:center;display:none;}
.video-content-box{padding:0px;width:100%;height:100%;}

/** video **/


/** ask **/
.redirect-page{display:none !Important}
       .ask-trigger{cursor:pointer;display:inline-block;}
    .ask-container{width:100%;height:100%;position:fixed;z-index:999999999;background-color:rgba(0,0,0,0.5);top:0px;left:0px;text-align:center;display:none;}
    .ask-content{width:450px;margin:auto;position:relative;top:50%;margin-top:-90px;}
    .ask-content iframe{background-color:transparent; overflow:hidden;}
    
html.redirect-page{display:none !important}
    /** ask **/
    
    
/** submit **/

       .submit-trigger{cursor:pointer;display:inline-block;}
    .submit-container{width:100%;height:100%;position:fixed;z-index:999999999;background-color:rgba(0,0,0,0.5);top:0px;left:0px;text-align:center;display:none;}
    .submit-content{width:600px;height:375px;margin:auto;position:relative;top:50%;}
    .submit-content iframe{background-color:transparent; overflow:hidden;}
    
    .submit-content iframe{height:460px }
    .submit-content{margin-top:-220px}
    /** submit **/
    
    /** not found **/
    .not-found-container{width:100%;height:100%;background-color:rgba(255,255,255,0.95);position:absolute;top:0px;left:0px;z-index:99999999999;text-align:center;display:none;}
    .not-found-content{position:relative;top:50%;transform:translateY(-50%);margin-top:-60px;}
    #tumblr_logo img{max-width:60px;display:inline-block;margin-top:50px;}
    .not-found-container li{display:block;line-height:100% !Important;}
    .close-this{position:fixed;top:-10px;right:20px;font-size:45pt;font-family:lato;font-weight:100;transform:scale(1.4,1.0);-webkit-transform:scale(1.4,1.0);-o-transform:scale(1.4,1.0);-moz-transform:scale(1.4,1.0);-ms-transform:scale(1.4,1.0);cursor:pointer;}
    .not-found-container li h2{font-size:166pt;font-family:lato;font-weight:100;}
    .not-found-container li#desc{margin-top:-140px;}
    /** not found **/
    
    
            /** footer **/
                #footer{width:100%;text-align:left;padding:40px 55px;margin-bottom:0px !Important;margin:auto;}
                #copyright{font-weight:200;font-size:10pt;}
                #copyright #copyright-content{display:block;}
                #copyright #credit{font-weight:300;;margin-top:5px;display:none;opacity:0.7;}
                #footer #search{text-align:right;font-size:13pt;}
                #footer .table-cell{width:33%;vertical-align:middle;}
                #footer .center{text-align:center;font-size:0pt;padding-top:0px;position:relative;top:-3px;}
                #footer .center li span:before{font-size:14pt;}
                #footer .center li{display:inline-block;margin-left:4px;margin-right:4px;}
                
                
       @media only screen and (max-width: 800px) {
            #footer .table-cell{width:100%;text-align:center;}
            #footer .table-cell#search{display:none}
            #footer .table-cell{display:block}
            #copyright #credit{display:none}
          #per.not-mobile #posts {margin-top: 0px;}
           #footer .center{margin-top:20px;}
       }
       .responsive-footer #footer .table-cell{width:100%;text-align:center;}
        .responsive-footer #footer .table-cell#search{display:none}
        .responsive-footer #footer .table-cell{display:block}
          .responsive-footer #copyright #credit{display:block;}
            /** footer **/
            
            
            /** pagination **/
            #per .load-more-paginiate-it-container{display:none !Important}
                .pagination a{font-size:10pt;padding:15px;font-family:baskervile;font-style:oblique;}
                .pagination li{display:inline-block;}
                .pagination{margin:auto;max-width:calc(100% - 90px);margin-bottom:40px;}
                .pagination{display:none}
                #ind.paginate-it .pagination{display:block}
                  
       
       @media only screen and (max-width: 400px) {
                .pagination{margin:auto;max-width:300px;margin-bottom:40px;}
       }
       
           #per.this-mobile .load-more-paginiate-it-container{display:none !Important}
           
           #ind.this-mobile .load-more-paginiate-it-container{display:none !Important}
            /** pagination **/
            /** footer **/
            
            
        
        /** options **/
        
        
.no-index-reblog #posts .reblogged.index{display:none !Important}
.hide-caption#ind.not-mobile .caption{display:none}


/** layout non option **/

#ind:not(.this-is-tag).not-mobile[data-layout$="fourpx"] .post-container{width:650px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="threepx"] .post-container{width:300px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="twopx"] .post-container{width:250px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="fivepx"] .post-container{width:500px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="sixxpx"] .post-container{width:610px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="sevenpx"] .post-container{width:700px;}



#ind:not(.this-is-tag).not-mobile.onecolumn .post-container{width:700px}
#ind:not(.this-is-tag).not-mobile.onecolumn .max-width-fix{max-width:700px;margin:auto;}
.max-width-fix{margin:auto;}

#ind:not(.this-is-tag).not-mobile.onecolumn1200px .post-container{width:1200px}
#ind:not(.this-is-tag).not-mobile.onecolumn1200px .max-width-fix{max-width:1200px;margin:auto;}


#ind:not(.this-is-tag).not-mobile.onecolumn800px .post-container{width:800px}
#ind:not(.this-is-tag).not-mobile.onecolumn800px .max-width-fix{width:800px;margin:auto;}
#ind:not(.this-is-tag).not-mobile.onecolumn900px .post-container{width:900px}
#ind:not(.this-is-tag).not-mobile.onecolumn900px .max-width-fix{width:900px;margin:auto;}


#ind:not(.this-is-tag).not-mobile.onecolumn500px .post-container{width:500px}
#ind:not(.this-is-tag).not-mobile.onecolumn500px .max-width-fix{max-width:500px;margin:auto;}

#ind:not(.this-is-tag).not-mobile.onecolumn400px .post-container{width:400px}
#ind:not(.this-is-tag).not-mobile.onecolumn400px .max-width-fix{max-width:400px;margin:auto;}

        #ind.not-mobile.onecolumn900px .post-container,
        #ind.not-mobile.onecolumn .post-container,
        #ind.not-mobile.onecolumn800px .post-container,
        #ind.not-mobile.onecolumn500px .post-container,
        #ind.not-mobile.onecolumn400px .post-container,
        #ind.not-mobile.onecolumn1200px .post-container{margin-left:0px !important;margin-right:0px !important;}
        
        #ind.not-mobile.onecolumn900px:not(.this-is-tag) .post-container,
        #ind.not-mobile.onecolumn1200px:not(.this-is-tag) .post-container,
        #ind.not-mobile.onecolumn800px:not(.this-is-tag) .post-container,
        #ind.not-mobile.onecolumn:not(.this-is-tag) .post-container,
        #ind.not-mobile.onecolumn400px:not(.this-is-tag) .post-container,
        #ind.not-mobile.onecolumn500px:not(.this-is-tag) .post-container{margin-left:0px !Important;margin-right:0px  !Important;}


#ind:not(.this-is-tag).not-mobile[data-layout$="twopx"] .post-container #post-notes{display:none;}
#ind:not(.this-is-tag).not-mobile[data-layout$="twopx"] .post-container:not(.photo) .share_tooltip{right:32px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="twopx"] .post-container.photo .share_tooltip{right:14px;}
#ind:not(.this-is-tag).not-mobile[data-layout$="twopx"] .post-container .post_nav .post-icons{padding-left:5px;padding-right:5px;text-align:Center;}
#ind.this-is-tag .post-container{width:700px;max-width:100%;}
#ind.this-is-tag .max-width-fix{max-width:700px;margin:auto;}
#ind.this-is-tag  #posts{width:100%;}


/** layout non option **/


    
/** hide post nav **/
.hide-post-nav.not-mobile#ind .post-container.photo .post_nav{position:absolute;bottom:0px;background-color:transparent;opacity:0;}
.hide-post-nav.not-mobile#ind .post-container.photo .photo-content img{opacity:1}
.hide-post-nav.not-mobile#ind .tags{display:none}
.hide-post-nav.not-mobile#ind .post-container.photo ol:hover .photo-content img{opacity:0.6}
.hide-post-nav.not-mobile#ind .post-container.photo ol:hover .post_nav{opacity:1}
.not-mobile #posts .post.photo{background-color:#222222}
.hide-post-nav.not-mobile#ind .post-container.photo .post_nav .post-icons a,  
.hide-post-nav.not-mobile#ind .post-container.photo #post-notes,
.hide-post-nav.not-mobile#ind .post-container.photo #number-change{color:#ffffff}
.hide-post-nav.not-mobile#ind .photo.post-container  .like, .player iframe{filter: brightness(125%);-webkit-filter: brightness(125%);-moz-filter: brightness(125%);-ms-filter: brightness(125%);-o-filter: brightness(125%);}
.hide-post-nav.not-mobile#ind .photo.post-container .reblog.post-icons{color:#ffffff}
.hide-post-nav .post_nav,.hide-post-nav .post_nav:hover,.post-container.photo:hover .photo-content img,.post-container.photo .photo-content img{
    -webkit-transition: opacity 0.45s;
    transition: opacity 0.45s;
    
    }
/** hide post nav **/




/** options **/


        
        
        
                   /** Posts **/
                   
                   
                   /** chat **/
                   .post.chat ul span{display:inline-block}
                   /** chat **/
                   
                   /** quote **/
                   .post.quote .quote-content{font-size:14pt;margin-bottom:20px;text-align:Center;font-style:oblique;font-family:goergia;padding:0px 20px;padding-top:20px;}
                   .post.quote .source{font-size:10pt;font-weight:300;width:100%;text-align:center;margin-bottom:10px;}
                   /** quote **/
                   
                   /** link **/
                   .post.link .link{border-bottom:0px;font-size:15pt;display:inline-block;margin-bottom:10px;}
                   .link-button{display:inline-block;margin-bottom:13px;}
                   /** link **/
                   
                   
                   /** audio **/
                   .player iframe{width:100%;display:block;margin-bottom:0px;}
                   .player{border-top:1px solid #efefef;padding:14px;}
                   #per .player{padding:25px;}
                   .album-art{height:0px;box-sizing:content-box;overflow:hidden;padding-top:100%;position:relative;max-width:600px;margin:auto;}
                   .album-art img{-webkit-box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);position:absolute;top:0px;
-moz-box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);;top:50%;transform:translateY(-50%);}
.player .responsive-album-art{display:none}

/** if too wide **/
.this-over-600-px .player .responsive-album-art{width:40px;display:inline-block;}
.this-over-600-px .player > div {display:inline-block;vertical-align:middle;}
.this-over-600-px .player > div iframe{margin-left:20px;}
.this-over-600-px .post.audio .album-art{display:none}
/** if too wide **/
                   /** audio **/

/** video **/


.video-player{border-bottom:1px solid #efefef;padding:20px;}

                    .video-player{font-size:10pt;font-weight:600;}
                    .video-player span{display:inline-block;vertical-align:middle;line-height:100% !important;}
                    .video-player #play_icon{font-size:14pt;margin-right:5px;}
                    .video-player .video-trigger{cursor:pointer}
                    #insta-not-loaded-element{display:none}
.post-container.video .video-content iframe{width:100%;}
.post-container.video .video-content{display:block;}
.post-container.video .video-image{width:100%;display:none;}
.post-container.video .video-player{display:none}

#ind .post-container.flickr .post.video .video-image{display:none}
#ind .post-container.flickr .post.video .video-content{display:block}
#ind .post-container.flickr .video-player{display:none}
#per .post-container.flickr .post.video .video-image{display:none}
#per .post-container.flickr .post.video .video-content{display:block}
#per .post-container.flickr .video-player{display:none}


#ind .post-container.vimeo .post.video .video-image{display:block}
#ind .post-container.vimeo .post.video .video-content{display:none}
#ind .post-container.vimeo .video-player{display:block}

#per .post-container.vimeo .post.video .video-image{display:none}
#per .post-container.vimeo .post.video .video-content{display:block}
#per .post-container.vimeo .video-player{display:none}

.post-container.instagram-not-loaded .post.video .video-image{display:block}
.post-container.instagram-not-loaded .post.video .video-content{display:block}
.post-container.instagram-not-loaded .video-player{display:block}
.post-container.instagram-not-loaded #insta-not-loaded-element{display:inline-block}

#per .post-container.instagram .post.video .video-image{display:none}
#per .post-container.instagram .post.video .video-content{display:block}
#per .post-container.instagram .video-player{display:none}
#ind .post-container.instagram .post.video .video-image{display:none}
#ind .post-container.instagram .post.video .video-content{display:block}
#ind .post-container.instagram .video-player{display:none}

blockquote.instagram-media{height:0px !Important;display:none !Important}
.tumblr_video_container{max-width:100%;width:100% !important}
/** video **/          

/** photoset **/
.photoset-image{display:none}
.this-over-600-px .photoset-frame-content{display:none}
.this-over-600-px .photoset-image{display:block;border-bottom:0px;}
.photoset-image img{margin-bottom:8px;}
.photoset-image img:last-child{margin-bottom:0px;}
#per .html_photoset{text-align:center;padding-top:50px;padding-bottom:50px;width:700px;margin:auto;max-width:100%;}
#per .html_photoset iframe{min-width:700px !important;}

@media only screen and (max-width: 800px) {
    #per .html_photoset{padding:0px;padding-bottom:0px;}
                   #per .post-container{width:700px;}
#per .html_photoset iframe{min-width:auto !important;}
}
       @media only screen and (max-width: 700px) {
        #per .post-container{width:100%;}   
       }
       @media only screen and (max-width: 600px) {
        .perma-controller{float:none;}
       #per #reblogged{display:none}
       }
       
#per .photoset-frame-content{border-bottom:1px solid #efefef;}
#per .html_photoset iframe{display:block;max-width:100%;}
#ind .html_photoset iframe,#ind .html_photoset{max-width:100%;}


html.mobile-version.this-mobile .html_photoset iframe{max-width:100px;}


.this-mobile.mobile-version .scrolling{display:none !Important}

/** photoset **/

/** answer **/
.answer-info span{display:inline-block;vertical-align:middle}
.answer-info span#asker-portrait{width:30px;height:30px;border-radius:50%;overflow:hidden;margin-right:13px;}
.answer-info span#asker{font-weight:600;}
.answer-info span#asker a{border-bottom:0px;color:#aeaeae;}
.answer-info{background-color:#fff;padding:25px;border-top:1px solid #efefef;font-size:9.5pt;}


.post.answer #question{border-bottom:1px solid #efefef;display:block;margin-bottom:20px;padding-bottom:20px;}

/** answer **/

/** text **/
.post.text > figure:first-child{margin-left:-30px;margin-top:-30px;width:calc(100% + 60px);margin-bottom:-35px;}

.post.text h2,.post.answer h2{margin:5px 0px;margin-bottom:15px;}
p{line-height:190% !Important}
html:not(.this-is-page) .post.text h3,html:not(.this-is-page) .post.answer h3{margin-top:-5px;margin-bottom:-10px;font-size:20pt;}

html.this-is-page .post.text h3{margin-top:10px;margin-bottom:35px;font-size:22pt;text-align:center}

.post.text .read_more_container a{color:#aeaeae;border-bottom:0px;font-size:10pt;font-weight:300}
.post.text .read_more_container a:after{content:'\2192';margin-left:5px;position:relative;top:2px;}
/** text **/
             
             /** text + answer figure repositioning **/

figure{margin-bottom:8px;margin-top:8px}
.not-reblog figure{margin-bottom: 20px;
margin-top: 20px;
width: calc(100% + 55px);
margin-left: -30px;}

.not-reblog figure:only-child a{margin-top:15px;margin-bottom:25px;}

.not-reblog figure a{margin-top:10px;position:relative;top:4px;}
.not-reblog .post.text figure:only-child{width: calc(100% + 55px);
margin-left: -30px;
margin-bottom: -5px}
.not-reblog .post.text figure:last-child{width: calc(100% + 55px);
margin-left: -30px;
margin-bottom: -5px}
figure iframe{width:100%}
.not-reblog figure+figure{margin-top:-10px}
             /** text + answer figure repositioning **/


.post.text .tmblr-attribution a{color:#aeaeae;border-bottom:0px;font-size:10pt;}
.post-container.not-reblog .post.text .tmblr-attribution a{margin-left:35px;}

#posts p:not(.tmblr-attribution){margin:20px 0px;}


#posts blockquote p:not(.tmblr-attribution){margin:10px 0px;}
.caption > blockquote{margin:-10px 0px;}

#posts p:first-child{margin-top:0px;}
#posts p:last-child{margin-bottom:0px;}

/** page **/
.this-is-page #posts .post.text p iframe{width: calc(100% + 55px);
margin-left: -30px;}
.this-is-page #posts .post.text p img{min-width: calc(100% + 55px);
margin-left: -30px;}
.this-is-page .post.text{padding-bottom:30px;}
/** page **/
ol{
    list-style-type:decimal;}
ol#post_ul{
	margin: 0px;
    list-style:none;
    list-style-type:none;}
	.this-mobile.mobile-version ol#post_ul{
	border: 0px !Important;}
	
	#posts,.max-width-fix{max-width:100%}
</style>
<style>
    

/** Fixs Overflowing Element **/
.top-header{overflow:hidden}
/** Fixs Overflowing Element **/




/** Header and Socials **/
    .header{width:100%;background-size:cover;background-position:center;position:relative;padding-bottom:2px;}
    .top-header{width:100%;position:absolute;top:0px;left:0px;padding-top:20px;padding-bottom:20px;z-index:999999;font-size:10pt;}
    .top-header.align-center{text-align:center}
    
    
    #header-search{
    -webkit-appearance: none}
        #ani-overlay.active{
  -webkit-animation: animation 0.5s; /* Safari 4+ */
  -moz-animation:    animation 0.5s; /* Fx 5+ */
  -o-animation:      animation 0.5s; /* Opera 12+ */
  animation:         animation 0.5s; /* IE 10+, Fx 29+ */}
    @keyframes animation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#top-header-content a{display:inline-block;border-bottom:0px;}
.top-header a{border-bottom:0px;}
#left-header-menu,.top-title,#right-header-menu{display:inline-block;vertical-align:middle;
}
.top-title{line-height:100%;padding-left:7px;padding-right:7px;position:relative;top:-2px;}
#top-header-content li{display:inline-block;margin-left:7px;margin-right:7px}
.menu-trigger{position:absolute;left:20px;font-size:16pt;cursor:pointer;top:50%;transform:translateY(-50%);margin-top:-2px;z-index:99999;}
.top-header.animated{
    -webkit-animation: headerAnimated 0.4s ease-in-out; /* Safari 4.0 - 8.0 */
    animation: headerAnimated 0.4s ease-in-out;
    position:fixed;}
@keyframes headerAnimated {
    from {transform: translateY(-200%);
        -o-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
    }
    to {transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}
/** Header and Socials **/ 


/** header javascript fadein base code **/
#ani-overlay{position:absolute;top:0px;left:0px;background-size:cover;background-position:center;width:100%;height:100%}
      #header-overlay img{display:none}
     #header-overlay{position:relative;width:100%;height:calc(100% + 3px);}
/** header javascript fadein base code **/
     

/** Description **/
@keyframes descriptionAnimate {
    from {transform: translateY(40px);opacity:0;}
    to {transform: translateY(0%);opacity:1;}
}
.header-description{width:100%;position:absolute;top:50%;left:0px;text-align:center;letter-spacing:-0.5pt;transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transform:translateY(-50%);margin-top:48px;z-index:99999;}
.no-top-bg .header-description{margin-top:10px;}
        .header-description-content{max-width:800px;width:85%;margin:auto;line-height:150%;opacity:1;}
        .not-mobile .header-description-content{
        
    -webkit-transition-delay: 1.5s; /* Safari */
    transition-delay: 1.5s;
    -webkit-animation: descriptionAnimate 0.7s ease-in-out; /* Safari 4.0 - 8.0 */
    animation: descriptionAnimate 0.7s ease-in-out;}
        
/** Description **/

/** Header and Socials **/

.header{overflow:hidden}
.description-socials a{border-bottom:0px;}
.description-socials a,.description-socials{line-height:100% !Important}
    .mobile-version .description-socials a{font-size:14pt;}
    .description-socials a{display:inline-block;margin-left:10px;margin-right:10px;}
    .this-mobile .description-socials,.this-mobile .header-bottom-socials{display:none}
    .this-mobile.social-mobile .description-socials{display:block !Important}
           

/** Header and Socials **/

/** Hidden Menu **/
html:not(.overflow-menu).html-open .hidden-menu,
html:not(.overflow-menu).html-open .hidden-overlay{display:none !Important}
.hidden-menu-content{padding:25px;position:relative;padding-top:40px;height:calc(100% - 105px);}
.hidden-menu{position:fixed;top:0px;left:0px;z-index:209999999;width:250px;height:100%;}
.hidden-menu .close-hidden-menu{font-family:Lato;font-size:23pt;transform:scale(1.4,1);-webkit-transform:scale(1.4,1);-moz-transform:scale(1.4,1);-o-transform:scale(1.4,1);-ms-transform:scale(1.4,1);font-weight:100;position:absolute;top:25px;left:30px;cursor:pointer;z-index:99;}
.link-element{margin-top:40px;}
.link-element span{display:block;margin-bottom:3px;border-bottom:1px solid #efefef;padding-bottom:6px;padding-top:6px;}
.link-element a{border-bottom:0px;font-size:10pt;}
.this-mobile .link-element a{border-bottom:0px;font-size:11pt;}
.location-copyright-element{position:absolute;bottom:35px;width:100%;left:0px;padding-top:20px;}
.hidden-menu{transform:translateX(-250px);
-webkit-transform:translateX(-250px);
-o-transform:translateX(-250px);
-moz-transform:translateX(-250px);
-ms-transform:translateX(-250px);
    -webkit-transition: transform 0.35s; /* Safari */
    -ms-transition: transform 0.35s; /* Safari */
    -o-transition: transform 0.35s; /* Safari */
    -moz-transition: transform 0.35s; /* Safari */
    transition: transform 0.35s;
        transition-timing-function: ease-in-out ;}
        .hidden-overlay{width:100%;height:calc(100% + 2px);background-color:rgba(0,0,0,0.5);position:fixed;top:0px;left:0px;z-index:199999999;display:none;}
/** Hidden Menu **/
 /** menu responsive **/
    #left-header-menu,#right-header-menu{position:relative;visibility:visible;}
    .menu-trigger{display:none}
    
    
    .overflow-menu #left-header-menu,.overflow-menu #right-header-menu{position:absolute;visibility:hidden;}
    .overflow-menu .menu-trigger{display:block}
    .top-header{overflow:hidden}
/** menu responsive **/


html.html-open .hidden-menu{
transform:translateX(0px);
-o-transform:translateX(0px);
-moz-transform:translateX(0px);
-webkit-transform:translateX(0px);}
html.html-not-open .hidden-menu{
transform:translateX(-250px);
-o-transform:translateX(-250px);
-moz-transform:translateX(-250px);
-webkit-transform:translateX(-250px);}

/** Footer **/

    .footer-socials{margin-bottom:10px;}
        .footer-socials a{border-bottom:0px;font-size:12pt;}
        .footer-socials span{display:inline-block;margin-left:5px;margin-right:5px;}
        .footer-container{padding-top:35px;padding-bottom:35px;border-top:1px solid #e7e7e7;text-align:center;;}
        #ind .footer-container{margin-top:60px;}
        .load-more .load-more-container{margin-top:60px !important;font-size:18pt;font-family:times;font-weight:normal;}
        .footer-content{padding-left:30px;padding-right:30px;}
        
.load-more-scroll-down{transform:rotate(90deg) scale(1,3);-webkit-transform:rotate(90deg) scale(1,3);-ms-transform:rotate(90deg) scale(1,3);-moz-transform:rotate(90deg) scale(1,3);-o-transform:rotate(90deg) scale(1,3);font-family:lato;font-weight:100;font-size:20pt;margin-top:15px;}

/** Footer **/

      /** search **/
	  
    .no-search-available-box{width:100%;height:100%;position:fixed;top:0px;left:0px;background-color:rgba(0,0,0,0.8);z-index:99999999999;display:none;}
    .no-search-available input{border-radius:5px;overflow:hidden;border:0px;background-color:#ffffff;font-size:12pt;padding:3px;padding-left:5px;}
    .no-search-available button{color:#ffffff;background-color:transparent;border:0px;font-size:12pt;}
    .no-search-input{margin-top:15px;}
    .no-search-available .no-search-available-box{display:block;}
    .no-search-available{overflow:hidden}
    .no-search-available-box p span{border-bottom:1px solid #ffffff;cursor:pointer;}
    
      /** search **/
      
      /** icons **/
    .reposition-icons .header-description .description-socials{display:none}
    .reposition-icons-left .header-description .description-socials{display:none}
    
    .reposition-icons-right .header-description .description-socials{display:none}
    
    html:not(.reposition-icons):not(.reposition-icons-left):not(.reposition-icons-right) .header-bottom-socials{display:none}
    .header-bottom-socials a{border-bottom:0px;}
    .header-bottom-socials li{display:inline-block;margin-right:5px;margin-left:5px;}
    
    .header-bottom-socials li span{font-size:0pt;}
    
   .reposition-icons-left .header-bottom-socials{bottom:40px;left:40px;z-index:999999999;position:absolute;width:calc(100% - 40px);}
   .reposition-icons-right .header-bottom-socials{bottom:40px;right:40px;z-index:999999999;position:absolute;width:calc(100% - 40px);text-align:right;}
   .reposition-icons .header-bottom-socials{width:calc(100% - 40px);position:absolute;text-align:center;bottom:40px;left:20px;z-index:999999999;}
   /** icons **/
   
 


.landing-page:not(.this-is-page) main, .landing-page:not(.this-is-page) footer,.landing-page .persona-tags{display:none !important}
html.landing-page:not(.this-is-page){overflow:hidden}
#top-header-content{position:relative}
.this-is-tag #posts{margin-bottom:100px;}


    /** mobile search responsive **/
    .mobile-header-search{display:none}
    .overflow-menu.scrolled.this-mobile.mobile-version:not(.mobile-search-header-hide) #top-header-content{height:0px;overflow:hidden;}
    .overflow-menu.scrolled.this-mobile.mobile-version:not(.mobile-search-header-hide) .mobile-header-search{display:block;}
        .overflow-menu.scrolled.this-mobile.mobile-version:not(.mobile-search-header-hide) .top-title{display:none}
        .overflow-menu.scrolled.this-mobile.mobile-version:not(.mobile-search-header-hide) .mobile-header-search{width:calc(100% - 120px);margin:auto;    margin: 0px auto;overflow:hidden;}
        .overflow-menu.scrolled.this-mobile.mobile-version #header-search{border:0px;background-color:#efefef;padding:2px;border-radius:3px;width:100%;font-size:12pt;overflow:hidden;}
        .overflow-menu.scrolled.this-mobile.mobile-version .mobile-header-search-input-icon{position:absolute;top:50%;transform:translateY(-50%);margin-top:-2px;right:25px;}
    /** mobile search responsive **/
    
    
     /** new post effect on Persona Pro **/
          
 #post-notes a{display:inline-block;vertical-align:middle;margin-right:4px;}
 #post-notes a.like{position:relative;top:-1px;}
      #post-notes{position:relative;top:1px;left:4px;}
          #ind.not-mobile.hide-post-nav .post-container.photo .post_nav{padding-left:35px;padding-right:35px;}
     #post-notes #number-chnage{position:relative;top:-3px;font-size:11pt;}
     /** new post effect on Persona Pro **/
     .scrolling{display:none !Important}
     .post-container.photo .post_nav{border-top:1px solid #efefef;}
     
     

/** Cubig effect **/
      .post-cubig-effect#ind.not-mobile:not([data-post-padding='0']) .post-container,.cubig-effect {
    -webkit-transition: transform 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition: opacity 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -webkit-transition: opacity 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition: transform 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

.post-cubig-effect#ind.not-mobile:not([data-post-padding='0']) .post-container:hover,.cubig-effect:hover {
    transform: scale(1.015)
}

/** Cubig effect **/

.post-container {
  -webkit-box-shadow: 0 20px 40px 2px rgba(0,0,0,0.2);
box-shadow: 0 20px 40px 2px rgba(0,0,0,0.2);
}

.post-heading {
  margin-top:20px;
  font-family: humaira;
  font-size: 3.2rem
}